@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");
@import './_variables.scss';

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#diaSemana {
  color: brown;
}

.paper1{
  background-color: $verde2 !important;
  border-radius: 10px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.paper2{
  background-color: $amarillo !important;
  border-radius: 10px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.paper3{
  background-color: $azul2 !important;
  border-radius: 10px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
